@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #8257e5;
  --secondary-color: #825afd;
  --primary-hover: #9466ff;
  --primary-border: #6833e4;
  --primary-text: #a8a8b3;
  --primary-gradient-top: linear-gradient(180deg, #1d1929, rgba(18, 18, 20, 0));
  --black: #000;
  --black-900: #121214;
  --transparent-200: rgba(0, 0, 0, 0.2);
  --white: #fff;
  --white-100: #f5f4f3;
  --gray-100: #e1e1e6;
  --gray-300: #c4c4c4;
  --gray-400: #d5dbdb;
  --gray-200: #b9c7bd;
  --gray-800: #24292e;

  --bg-linear-gradient: linear-gradient(180deg, #1d1929, rgba(18, 18, 20, 0));

  font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #fff;
  color: #000;
  min-width: 320px;
  min-height: 100vh;
}

.dashed-line-left {
  position: absolute;
  border-top: 1px solid #4b5563;
  width: 45%;
  height: 1px;
  left: 0;
}

.dashed-line-right {
  position: absolute;
  border-top: 1px solid #4b5563;
  width: 45%;
  height: 1px;
  right: 0;
}

@media screen and (min-width: 768px) {
  .activePage {
    color: #000;
  }

  .activePage::after {
    content: '';
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: -3px;
    left: 0;
    border-radius: 3px 3px 0 0;
    background: var(--primary-color);
  }
}

@media screen and (max-with: 1080px) {
  html {
    font-size: 93.75%;
  }
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }

  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.react-modal-overlay {
  background: rgba(0, 0, 0, 0.5);

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.react-modal-content {
  width: 100%;
  max-width: 576px;
  background: #202024;
  padding: 3rem;
  position: relative;
  border-radius: 0.25rem;
}

.react-modal-close {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  border: 0;
  background: transparent;

  transition: 0.2s;
}

.react-modal-close:hover {
  filter: brightness(0.8);
}